@keyframes my-animation {
  0% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(-12px); }
  100% {
    transform: translateY(-2px); } }
.fancybox-slide {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; }

.fancybox-content {
  background: transparent;
  width: 100%;
  height: auto;
  padding: 0; }

.fancybox-button {
  display: none; }

col {
  padding: 0; }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000; }

.my_container {
  max-width: 1180px !important;
  margin-left: auto;
  margin-right: auto; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ul,
li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.img-fluid {
  max-width: 80%;
  height: auto; }

.global_wrapper {
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-width: 100%; }

html {
  font-display: auto; }

.mbox {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

section .mbox {
  max-width: 1180px; }

main .section-title > * {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3; }

.btn {
  border-radius: 8px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-questions {
    width: 190px;
    height: 60px;
    background: #ff4d29 0% 0% no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s; }
  .btn-questions:hover {
    background-color: #ff1225;
    transition: all 0.3s; }
  .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1; }

.header {
  padding-top: 40px;
  min-height: 680px;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%; }
  .header header {
    max-width: 1920px; }
    .header header .bg {
      height: 0;
      width: 100%;
      max-width: 1920px;
      position: fixed;
      transition: all 0.3s;
      top: 40px;
      background-color: #262e77;
      z-index: 15; }
      .header header .bg .mbox {
        height: 100%; }
    .header header .fixed {
      top: 0;
      height: 63px;
      transition: all 0.3s; }
    .header header .fixedblock {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1230px;
      height: 100%; }
  .header .wp_custom .bg {
    top: 72px; }
  .header .wp_custom .fixed {
    top: 32px; }
  .header .mbox {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto; }
  .header_logo {
    width: 290px;
    display: inline-block;
    text-align: left;
    line-height: 48px;
    font-size: 40px;
    font-family: "Futura PT Book";
    letter-spacing: 0;
    font-weight: 300;
    color: #929afa;
    opacity: 1;
    color: #fff; }
    .header_logo img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 45px; }
    .header_logo_custom {
      opacity: 0.5; }
  .header_menu {
    margin-left: 145px;
    display: inline-block; }
    .header_menu .current-menu-item a {
      padding-bottom: 5px;
      border-bottom: 1px solid; }
    .header_menu .menu-item {
      display: inline;
      margin-right: 50px;
      transition: all 0.3s; }
      .header_menu .menu-item a.current {
        padding-bottom: 5px;
        border-bottom: 1px solid; }
    .header_menu .menu-item:hover {
      opacity: 0.5;
      transition: all 0.3s; }
    .header_menu .menu-item:last-of-type {
      margin-right: 0; }
    .header_menu .menu {
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      font-family: "HelveticaNeueCyr";
      font-weight: normal;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1; }
  .header .navbar {
    width: 100%;
    max-width: 100%; }
  .header_btn {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 147px;
    height: 42px;
    border: 1px solid #ffffff;
    right: 0;
    border-radius: 8px;
    opacity: 1;
    transition: 0.3s; }
    .header_btn a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: "HelveticaNeueCyr";
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1; }
  .header_btn:hover {
    background-color: #262e77;
    transition: 0.3s; }
  .header .btn-menu {
    display: none;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .header .btn-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 22px;
    background: #fff;
    opacity: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    -o-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .header .btn-menu span:nth-child(1) {
    margin-top: -9px; }
  .header .btn-menu span:nth-child(3) {
    margin-top: 9px; }
  .header .btn-menu.open span:nth-child(1) {
    top: 50%;
    margin-top: 0;
    left: 25%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header .btn-menu.open span:nth-child(2) {
    opacity: 0;
    left: -20px; }
  .header .btn-menu.open span:nth-child(3) {
    top: 50%;
    left: 25%;
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header .header-content {
    position: relative;
    display: inline-block;
    z-index: 10;
    max-width: 58%; }
    .header .header-content .section-title {
      margin-top: 150px;
      margin-bottom: 20px; }
      .header .header-content .section-title * {
        max-width: 800px;
        text-align: left;
        font-size: 48px;
        line-height: 52px;
        font-family: "Paralucent";
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
        max-width: 600px; }
    .header .header-content .text {
      text-align: left;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 1;
      max-width: 580px;
      margin-bottom: 50px; }
    .header .header-content .top-btn {
      width: 150px;
      height: 60px;
      background: #ff4d29 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      display: inline-block;
      transition: all 0.3s; }
      .header .header-content .top-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: "HelveticaNeueCyr";
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
    .header .header-content .top-btn:hover {
      background-color: #ff1225;
      transition: all 0.3s; }
  .header .top-image {
    position: absolute;
    right: 0;
    top: 100px;
    height: 570px;
    width: 100%;
    max-width: 50%; }
    .header .top-image .wrapper {
      height: 100%;
      height: 100%;
      position: relative; }
    .header .top-image .image_animate {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 929px;
      height: 570px; }
    .header .top-image .headerelement {
      bottom: 0;
      left: 0;
      z-index: 9; }
    .header .top-image .element {
      position: absolute; }
    .header .top-image .element1 {
      top: 50px;
      left: 205px;
      z-index: 8;
      animation: my-animation 2s ease infinite; }
    .header .top-image .element2 {
      left: 450px;
      top: 140px;
      z-index: 10;
      animation: my-animation 4s ease infinite; }
    .header .top-image .element3 {
      left: 405px;
      top: 10px;
      animation: my-animation 2s ease infinite; }
    .header .top-image .element4 {
      top: 10px;
      left: 120px;
      z-index: 7;
      animation: my-animation 3s ease infinite; }
    .header .top-image .element5 {
      top: 228px;
      left: 158px;
      z-index: 10;
      animation: my-animation 5s ease infinite; }

.solution {
  background: #0c1634 0% 0% no-repeat padding-box;
  min-height: 670px;
  display: flex; }
  .solution .mbox {
    margin-top: auto;
    margin-bottom: auto; }
    .solution .mbox .header-content .section-title {
      margin-top: 0; }
  .solution .top-image {
    top: 150px;
    height: 500px; }
    .solution .top-image .cart {
      left: 50%;
      transform: translateX(-50%); }
    .solution .top-image .map {
      top: 140px;
      left: 160px;
      animation: my-animation 3s ease infinite; }
    .solution .top-image .star {
      right: 165px;
      top: 45px;
      animation: my-animation 4s ease infinite; }
    .solution .top-image .love {
      right: 140px;
      top: 200px;
      animation: my-animation 2s ease infinite; }

.works {
  background: #563280 0% 0% no-repeat padding-box;
  min-height: 720px;
  display: flex; }
  .works .mbox {
    margin-top: auto;
    margin-bottom: auto; }
    .works .mbox .header-content .section-title {
      margin-top: 0; }
  .works strong {
    font-weight: 700; }
  .works .top-image {
    top: 150px; }
    .works .top-image .work1 {
      right: 310px;
      top: 340px;
      animation: my-animation 3s ease infinite; }
    .works .top-image .bar {
      right: 240px;
      top: -50px;
      animation: my-animation 4s ease infinite; }
    .works .top-image .speech {
      top: 30px;
      right: 400px;
      animation: my-animation 2s ease infinite; }
    .works .top-image .grafic {
      top: 70px;
      left: 90px;
      animation: my-animation 3s ease infinite; }
    .works .top-image .work2 {
      top: 170px;
      left: 370px;
      animation: my-animation 4s ease infinite; }

.blog {
  padding: 0;
  background: #032e61;
  min-height: 63px; }
  .blog header .bg {
    background: #032e61;
    height: 63px;
    top: 0; }
  .blog .wp_custom .bg {
    top: 32px; }
  .blog .wp_custom .fixed {
    top: 32px; }

.btn-blog {
  background: #3a46d8;
  border-radius: 8px;
  width: 179px;
  height: 50px;
  outline: 0;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 70px;
  transition: .3s; }
.btn-blog:hover {
  background-color: #262e77;
  transition: 0.3s; }

.posts {
  margin-top: 0px; }
  .posts #loadposts {
    margin-top: 0; }
  .posts .headerblock {
    background: #1b498e; }
    .posts .headerblock .mbox {
      padding-top: 30px;
      padding-bottom: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between; }
    .posts .headerblock .blog_name {
      display: inline-block; }
    .posts .headerblock .blog_name > * {
      color: #fff;
      font-weight: 700; }
    .posts .headerblock .blog_categories {
      display: inline-block;
      text-align: right;
      margin-top: 15px;
      max-width: 620px; }
      .posts .headerblock .blog_categories a {
        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #ffffff;
        display: inline-block;
        margin-left: 10px;
        transition: .3s; }
      .posts .headerblock .blog_categories a:hover {
        opacity: .5;
        transition: .3s; }
  .posts .postsblock {
    margin-top: -35px; }
    .posts .postsblock .row {
      margin: 0;
      margin-bottom: 35px;
      box-sizing: border-box; }
    .posts .postsblock .post {
      max-width: 31%;
      width: 31%;
      margin-right: 3.5%; }
      .posts .postsblock .post_date {
        margin-top: 20px;
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #3d466e;
        opacity: 0.5; }
      .posts .postsblock .post_title {
        margin-top: 7px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #3d466e; }
      .posts .postsblock .post_image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .posts .postsblock .post_image a {
          cursor: pointer; }
      .posts .postsblock .post_image a img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto; }
    .posts .postsblock .post:last-of-type {
      margin-right: 0; }

.single .thumbnail {
  width: 100%;
  height: 537px; }
  .single .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.single .box {
  max-width: 805px;
  margin-left: auto;
  margin-right: auto; }
  .single .box .date_categories {
    margin-top: 30px;
    margin-bottom: 6px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #3d466e;
    opacity: 0.5; }
  .single .box .single_title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #3d466e;
    margin-bottom: 30px; }
  .single .box .single_content {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #3d466e; }
    .single .box .single_content p {
      margin-bottom: 50px; }
    .single .box .single_content img {
      margin-bottom: 40px; }
    .single .box .single_content .wp-block-image {
      margin: 0; }
    .single .box .single_content h2, .single .box .single_content h3, .single .box .single_content h4 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      color: #3d466e;
      margin-bottom: 10px; }
  .single .box .share span {
    display: inline-flex;
    align-items: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #3d466e; }
    .single .box .share span a {
      margin-left: 30px; }
  .single .box .share {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .single .box .share .buttons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #3a46d8;
    border-radius: 8px;
    margin-right: 15px;
    width: 128px;
    height: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: capitalize;
    transition: .3s; }
  .single .box .share .buttons a:hover {
    background-color: #262e77;
    transition: 0.3s; }

.brain {
  background: #E8F0FF 0% 0% no-repeat padding-box;
  margin-bottom: 325px; }
  .brain .brain-image {
    width: 100%;
    height: 555px; }
  .brain .wrapper {
    height: 100%;
    position: relative; }
  .brain .animate {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 555px; }
    .brain .animate .element {
      position: absolute;
      max-width: 14%;
      height: auto; }
    .brain .animate .brain {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .brain .animate .arrow {
      max-width: 3%; }
    .brain .animate .lefttoptext {
      left: 540px;
      top: 50px;
      animation: my-animation 3s ease infinite; }
    .brain .animate .rightbottom {
      top: 95px;
      left: 825px; }
    .brain .animate .righttoptext {
      left: 1080px;
      top: 30px;
      animation: my-animation 4s ease infinite; }
    .brain .animate .leftbottom {
      left: 1130px;
      top: 205px; }
    .brain .animate .rightbottomtext {
      left: 1090px;
      bottom: 10px;
      animation: my-animation 2s ease infinite; }
    .brain .animate .lefttop {
      left: 1140px;
      bottom: 200px; }
    .brain .animate .leftbottomtext {
      left: 580px;
      bottom: 10px;
      animation: my-animation 3s ease infinite; }
    .brain .animate .righttop {
      left: 745px;
      bottom: 190px; }
    .brain .animate .bottom {
      bottom: 120px;
      left: 50%;
      max-width: 1%;
      transform: translateX(-50%); }
    .brain .animate .phone_brain {
      left: 50%;
      transform: translateX(-50%);
      top: 445px;
      max-width: 307px;
      text-align: center; }
      .brain .animate .phone_brain img {
        max-width: 45%; }
      .brain .animate .phone_brain .btn {
        background: #FF4D29 0% 0% no-repeat padding-box;
        width: 190px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        transition: .3s; }
        .brain .animate .phone_brain .btn a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%; }
      .brain .animate .phone_brain .btn:hover {
        background-color: #ff1225;
        transition: all 0.3s; }

.info {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex; }
  .info_image {
    display: flex;
    justify-content: center;
    align-items: center; }
  .info_text {
    margin-left: 40px; }
    .info_text_title {
      margin-top: 90px; }
    .info_text_title > * {
      width: 615px;
      text-align: left;
      font-size: 32px;
      line-height: 1;
      font-family: "Paralucent";
      font-weight: 900;
      letter-spacing: 0;
      color: #3d466e;
      opacity: 1; }
      .info_text_title > * span {
        display: inline-block;
        box-shadow: 0px -10px 0 0px #f67e90 inset; }
    .info_text_p {
      margin-top: 10px;
      width: 615px;
      text-align: left;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0;
      color: #3d466e; }
      .info_text_p strong {
        font-weight: 700; }
    .info_text_btn {
      margin-top: 30px;
      width: 322px;
      height: 50px;
      background: #3a46d8 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
      .info_text_btn a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
        padding: 10px; }
      .info_text_btn a img {
        margin-left: 10px; }
    .info_text_btn:hover {
      background-color: #262e77;
      transition: 0.3s; }

.reverse {
  flex-direction: row-reverse; }
  .reverse .info_image {
    margin-left: 0; }
  .reverse .info_text {
    margin-left: 0; }

.solutioninfo .info_image {
  margin: 0;
  max-width: 46%;
  justify-content: flex-start; }
.solutioninfo .info_text {
  margin: 0;
  max-width: 54%; }
  .solutioninfo .info_text_title {
    margin-top: 0; }
  .solutioninfo .info_text .text_block {
    margin-bottom: 70px; }
  .solutioninfo .info_text .text_block:last-of-type {
    margin-bottom: 0; }

.emoji {
  background: #e8f0ff 0% 0% no-repeat padding-box;
  padding: 100px 0; }
  .emoji .mbox {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto; }
  .emoji .section-title > * {
    text-align: left;
    font-family: "Montserrat";
    letter-spacing: 0;
    color: #3d466e;
    opacity: 1; }
  .emoji .section-title {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto; }
  .emoji .image_emoji {
    text-align: center; }
    .emoji .image_emoji img {
      max-width: 65%; }
  .emoji .emoji_image {
    position: relative;
    text-align: center; }
    .emoji .emoji_image img {
      margin-left: -20px;
      max-width: 65%; }
    .emoji .emoji_image .emoji_image_title {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0;
      color: #3d466e;
      position: absolute;
      left: 215px;
      top: 100px; }
    .emoji .emoji_image .emoji_image_text {
      font-family: "Lato";
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      color: #3d466e;
      position: absolute;
      left: 215px;
      top: 220px; }
  .emoji .two {
    margin-top: -100px; }
    .emoji .two .emoji_image_title {
      top: 150px; }
    .emoji .two .emoji_image_text {
      top: 260px; }
    .emoji .two .top {
      max-width: 180px;
      left: 630px;
      top: 70px; }

.phone {
  padding-top: 100px; }
  .phone .section-title * {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 0;
    color: #3d466e;
    opacity: 1; }
  .phone .phone_image {
    text-align: center;
    vertical-align: bottom; }
    .phone .phone_image video {
      transform: translateX(-15%);
      max-width: 30%;
      height: auto; }

.questions {
  padding: 80px 0;
  background: #0c1634 0% 0% no-repeat padding-box;
  background-image: url(../img/solution/bgquestions.png);
  background-position: bottom;
  background-size: cover; }
  .questions .mbox {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto; }
  .questions .section-title > * {
    color: #fff;
    text-align: center; }
  .questions .questions-list {
    margin-top: 50px; }
    .questions .questions-list .list-item {
      border: 1px solid #6caaff;
      border-radius: 10px;
      margin-bottom: 15px;
      overflow: hidden;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
      .questions .questions-list .list-item .question:hover {
        background-color: rgba(108, 170, 255, 0.1);
        transition: .3s; }
      .questions .questions-list .list-item .question {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        transition: .3s;
        cursor: pointer; }
        .questions .questions-list .list-item .question h4 {
          font-family: "HelveticaNeueCyr";
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0;
          color: #ffffff;
          display: inline-block; }
        .questions .questions-list .list-item .question .circle {
          position: relative;
          margin-left: auto;
          display: flex;
          align-items: center;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          border: 2px solid #fff;
          cursor: pointer; }
          .questions .questions-list .list-item .question .circle .arrow-lines {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 10px;
            z-index: 4;
            transform: translate(-50%, -50%); }
            .questions .questions-list .list-item .question .circle .arrow-lines .arrow-line {
              position: absolute;
              top: 0;
              width: 15px;
              height: 3px;
              border-radius: 10px;
              background-color: #fff;
              -webkit-transition: transform 0.3s ease-out;
              -moz-transition: transform 0.3s ease-out;
              -o-transition: transform 0.3s ease-out;
              transition: transform 0.3s ease-out; }
            .questions .questions-list .list-item .question .circle .arrow-lines .arrow-line.left {
              left: -7px;
              transform: rotate(45deg); }
            .questions .questions-list .list-item .question .circle .arrow-lines .arrow-line.right {
              right: -7px;
              transform: rotate(-45deg); }
          .questions .questions-list .list-item .question .circle .open {
            top: 45%; }
            .questions .questions-list .list-item .question .circle .open .arrow-line.left {
              transform: rotate(-45deg); }
            .questions .questions-list .list-item .question .circle .open .arrow-line.right {
              transform: rotate(45deg); }
      .questions .questions-list .list-item .wrapper_line {
        display: flex;
        justify-content: center; }
      .questions .questions-list .list-item .answer_line {
        width: 0;
        height: 1px;
        background-color: #6caaff;
        transition: width 0.3s ease-out; }
      .questions .questions-list .list-item .openLine {
        width: 100%;
        transition: width 0.3s ease-out; }
      .questions .questions-list .list-item .answer {
        display: none;
        padding: 10px 20px; }
        .questions .questions-list .list-item .answer > * {
          font: Regular 20px/30px Helvetica Neue;
          font-family: "HelveticaNeueCyr";
          font-weight: 400;
          font-size: 17px;
          line-height: 30px;
          letter-spacing: 0;
          color: #ffffff; }

.platform {
  display: flex;
  align-items: center;
  min-height: 350px;
  background: #002b85 0% 0% no-repeat padding-box;
  padding: 70px 0; }
  .platform .info {
    margin: 0;
    display: flex;
    align-items: center; }
  .platform .info_text_title {
    margin-top: 0; }
  .platform .info_text_title > * {
    width: 715px;
    color: #fff; }
  .platform .info_text {
    margin-right: 0; }
  .platform .info_text_p {
    color: #fff; }

.infoflex {
  padding: 150px 0; }
  .infoflex .wrapper-block {
    display: flex;
    justify-content: space-between; }
    .infoflex .wrapper-block .col1 img {
      max-width: 25%; }
    .infoflex .wrapper-block .col2 img {
      max-width: 40%; }
    .infoflex .wrapper-block .col3 img {
      max-width: 35%; }
    .infoflex .wrapper-block .info_block {
      flex-basis: 380px; }
      .infoflex .wrapper-block .info_block .image_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px; }
      .infoflex .wrapper-block .info_block .section-title {
        text-align: center; }
      .infoflex .wrapper-block .info_block .section-title > * {
        color: #3d466e;
        font-size: 20px; }
      .infoflex .wrapper-block .info_block .block_text {
        margin-top: 20px;
        padding: 0 40px;
        text-align: center;
        font-family: "Lato";
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0;
        color: #3d466e; }
        .infoflex .wrapper-block .info_block .block_text strong {
          font-weight: 700; }

.help {
  background: url(../img/bghelp.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  .help_content {
    margin-left: auto;
    margin-right: auto;
    width: 1097px;
    text-align: center; }
    .help_content_title > * {
      font-family: "Paralucent";
      font-weight: 700;
      font-size: 32px;
      line-height: 1.3;
      letter-spacing: 0;
      color: #ffffff; }
    .help_content_btn {
      width: 150px;
      height: 60px;
      background: #ff4d29 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      display: inline-block;
      transition: all 0.3s; }
      .help_content_btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: "HelveticaNeueCyr";
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
        color: #ffffff; }
    .help_content_btn:hover {
      background-color: #ff1225;
      transition: all 0.3s; }

.footer {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  align-items: flex-end; }
  .footer .footer_logo {
    width: 270px;
    display: inline-block; }
    .footer .footer_logo a {
      display: flex; }
    .footer .footer_logo img {
      margin-bottom: -5px;
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 45px; }
  .footer .footer_menu {
    display: inline-block; }
    .footer .footer_menu .menu {
      display: flex;
      width: 570px;
      justify-content: space-around; }
    .footer .footer_menu .menu-item {
      font-family: "HelveticaNeueCyr";
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0;
      color: #3d466e;
      transition: all 0.3; }
    .footer .footer_menu .menu-item:hover {
      color: #3d5afe;
      transition: all 0.3; }
  .footer .copyright {
    display: inline-block;
    margin-left: auto;
    font-family: "HelveticaNeueCyr";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    color: #3d466e; }

.form {
  display: none;
  width: 100%;
  background: transparent;
  padding: 50px 0;
  min-height: 100vh;
  top: 0;
  position: relative;
  z-index: 1000; }

.contact-form {
  border-radius: 20px/20px;
  width: 750px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 66px 70px;
  position: relative; }
  .contact-form .close {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
    .contact-form .close img {
      width: 100%;
      height: 100%; }
  .contact-form .form-title {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 32px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 0;
    color: #3D466E;
    margin-bottom: 35px; }
    .contact-form .form-title span {
      box-shadow: 0px -10px 0 0px #f67e90 inset; }
  .contact-form form label {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    opacity: 1;
    display: block;
    cursor: pointer;
    margin-bottom: 10px; }
    .contact-form form label span {
      color: red; }
  .contact-form form > * {
    outline: none; }
  .contact-form form input, .contact-form form select {
    border: 1px solid #D5DCE3;
    border-radius: 8px;
    opacity: 1;
    width: 100%;
    max-width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: transparent; }
  .contact-form form textarea {
    width: 100%;
    max-width: 100%;
    height: 110px;
    border: 1px solid #D5DCE3;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 30px;
    resize: none; }
  .contact-form form .block_website, .contact-form form .block_platform {
    width: 50%;
    max-width: 49.6%;
    display: inline-block;
    box-sizing: border-box; }
  .contact-form form .block_website {
    padding-right: 20px; }
  .contact-form form .block_platform {
    padding-left: 20px; }
  .contact-form form input::placeholder, .contact-form form textarea::placeholder {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0;
    color: #3D466E;
    opacity: 0.5; }
  .contact-form form select {
    -webkit-appearance: none;
    max-width: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    background-image: url(../img/select.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    cursor: pointer; }
    .contact-form form select option:checked, .contact-form form select option:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .contact-form form select::after {
    content: url(../img/select.svg);
    display: inline-block;
    width: 18px;
    height: 10px;
    z-index: 15;
    position: absolute;
    background-color: red; }
  .contact-form form input, .contact-form form textarea, .contact-form form select {
    box-sizing: border-box;
    padding: 15px 22px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    font-weight: 400; }
  .contact-form form button {
    border: 0;
    cursor: pointer;
    width: 190px;
    height: 60px;
    background: #FF4D29 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    transition: all 0.3s; }
  .contact-form form button:hover {
    background-color: #ff1225;
    transition: all 0.3s; }
  .contact-form form .success {
    color: red; }
    .contact-form form .success span {
      color: green; }

@media screen and (max-width: 1600px) {
  .works {
    min-height: 670px; }

  .info_image {
    margin-left: 50px; }
  .info_text {
    margin-left: 150px; }

  .reverse .info_image {
    margin-right: 50px; }
  .reverse .info_text {
    margin-right: 30px; }

  .platform {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 1366px) {
  .header {
    min-height: 675px; }
    .header .header-content .section-title {
      margin-bottom: 40px;
      margin-top: 90px; }
    .header .header-content .section-title > * {
      max-width: 630px;
      font-size: 46px;
      line-height: 52px; }

  .works {
    min-height: 600px; }

  .blog {
    min-height: 63px; }
    .blog .wp_custom .bg {
      top: 32px; }
    .blog .wp_custom .fixed {
      top: 32px; }

  .info {
    margin-top: 70px;
    margin-bottom: 70px; }
    .info_image {
      margin-left: 10px; }

  .reverse .info_text {
    margin-left: 10px; }

  .btn-blog {
    margin-bottom: 30px; }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; } }
@media screen and (max-width: 1280px) {
  .header {
    min-height: 560px; }
    .header header .bg {
      padding: 0 10px;
      box-sizing: border-box; }

  .header-content {
    max-width: 45%;
    padding-left: 10px;
    padding-right: 10px; }

  .solution {
    min-height: 530px; }
    .solution .top-image {
      top: 150px; }

  .blog {
    min-height: 50px; }

  .info_text {
    max-width: 50%; }
    .info_text_title > * {
      width: auto; }
    .info_text_p {
      width: auto; }

  .form {
    padding: 45px 0; }

  .emoji {
    padding: 100px 10px; }

  .platform .info {
    margin-top: 0;
    margin-bottom: 0; }
  .platform .info_image {
    height: auto; }
  .platform .info_text_title > * {
    width: auto; }

  .phone {
    padding-top: 100px; }

  .questions {
    padding: 80px 20px; }

  .infoflex {
    padding: 100px 10px; }

  .help_content {
    max-width: 100%; }

  .posts .headerblock .mbox {
    padding-left: 10px;
    padding-right: 10px; }
  .posts .postsblock .row {
    padding: 0 10px; } }
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 20px;
    min-height: 560px; }
    .header header .bg {
      padding: 0 50px;
      box-sizing: border-box; }
    .header header .fixedblock {
      max-width: 977px;
      top: 20px; }
    .header .header_menu {
      margin-left: 75px; }
    .header .header-content {
      z-index: 2;
      margin-top: 110px;
      padding: 0 50px;
      box-sizing: border-box; }
      .header .header-content .section-title > * {
        font-size: 38px;
        line-height: 44px; }
      .header .header-content .section-title {
        margin-top: 45px;
        margin-bottom: 20px; }
      .header .header-content .top-btn {
        width: 150px;
        height: 45px;
        border-radius: 6px; }
        .header .header-content .top-btn a {
          font-size: 16px;
          line-height: 19px; }
    .header .top-image {
      top: 110px; }
      .header .top-image .headerelement {
        right: 0;
        left: auto; }
      .header .top-image .element1 {
        left: 375px; }
      .header .top-image .element2 {
        left: 620px; }
      .header .top-image .element3 {
        left: 575px; }
      .header .top-image .element4 {
        left: 290px; }
      .header .top-image .element5 {
        left: 330px; }

  .solution {
    min-height: 420px; }

  .works {
    min-height: 480px; }

  .blog {
    min-height: 63px; }
    .blog header .bg {
      padding: 0 10px; }

  .emoji {
    padding: 50px 50px; }
    .emoji .section-title {
      margin-left: auto;
      margin-right: auto; }
    .emoji .emoji_image {
      text-align: center; }
      .emoji .emoji_image img {
        max-width: 80%; }
      .emoji .emoji_image .emoji_image_title {
        left: 91px;
        top: 20%; }
      .emoji .emoji_image .emoji_image_text {
        left: 91px;
        top: 60%; }
    .emoji .two .emoji_image_title {
      top: 45%; }
    .emoji .two .emoji_image_text {
      top: 85%; }
    .emoji .two .top {
      top: 25%;
      left: 54%; }

  .phone {
    padding-top: 0px; }
    .phone .section-title > * {
      padding-top: 60px; }

  .btn-questions {
    width: 200px;
    height: 55px; }
  .btn a {
    font-size: 15px;
    line-height: 19px; }

  .questions {
    padding: 50px 50px; }
    .questions .section-title * {
      font-size: 33px; }
    .questions .questions-list .list-item .question h4 {
      font-size: 17px; }
    .questions .questions-list .list-item .answer > * {
      font-size: 16px;
      line-height: 19px; }

  .infoflex {
    padding: 50px 50px; }
    .infoflex .wrapper-block .info_block {
      flex-basis: 290px; }
      .infoflex .wrapper-block .info_block .block_text {
        padding: 0 20px; }

  .posts .postsblock .post_image {
    height: auto; }

  .help {
    padding-top: 80px;
    padding-bottom: 80px; }
    .help_content_btn {
      width: 150px;
      height: 45px; }
      .help_content_btn a {
        font-size: 16px;
        line-height: 19px; }

  section {
    box-sizing: border-box; }

  .infosection.col {
    padding-left: 0;
    padding-right: 0;
    padding: 0 50px; }

  .platform {
    padding-left: 50px;
    padding-right: 50px; }

  .footer {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }
    .footer .footer_logo {
      width: 200px; }
    .footer .footer_menu .menu {
      max-width: 520px; }

  .footer-blog {
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (max-width: 992px) {
  .fixed {
    top: 20px; }

  .header .header_menu {
    margin-left: 0; }
  .header .header_btn {
    margin-left: 20px; }
  .header header {
    justify-content: space-between; }

  .single .box .single_content h2, .single .box .single_content h3, .single .box .single_content h4 {
    font-size: 30px;
    line-height: 34px; }

  .infosection {
    margin-bottom: 20px; }

  .info {
    margin-top: 100px;
    margin-bottom: 100px; }
    .info_text_p {
      margin-top: 15px;
      font-size: 19px;
      line-height: 26px; }
    .info_text_btn {
      margin-top: 15px; }

  .reverse .info_text {
    margin-right: 10px; }

  .emoji .emoji_image .emoji_image_title {
    font-size: 26px;
    line-height: 32px; }
  .emoji .emoji_image .emoji_image_text {
    font-size: 17px;
    line-height: 21px; }

  .platform {
    padding-top: 30px;
    padding-bottom: 30px; }
    .platform .info_text_title {
      margin-top: 45px; }

  .help {
    padding-top: 70px;
    padding-bottom: 70px; }

  .footer .footer_menu .menu {
    max-width: 500px;
    width: 400px; } }
@media screen and (max-width: 768px) {
  .header {
    min-height: auto; }
    .header header .fixedblock {
      max-width: 100vw; }
    .header header .fixed {
      height: 50px; }
    .header header .mobile {
      height: 100vh;
      padding: 0;
      top: 0; }
      .header header .mobile .mobilefixedblock {
        display: block; }
        .header header .mobile .mobilefixedblock .header_btn {
          position: relative;
          top: 0;
          left: 0;
          right: auto;
          transform: none;
          margin-top: 20px;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
        .header header .mobile .mobilefixedblock .header_logo {
          padding-left: 20px; }
        .header header .mobile .mobilefixedblock .btn-menu {
          float: right; }
        .header header .mobile .mobilefixedblock .header_menu {
          width: 100%;
          border-bottom: 1px solid rgba(61, 90, 254, 0.4); }
        .header header .mobile .mobilefixedblock .menu {
          padding: 30px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between; }
          .header header .mobile .mobilefixedblock .menu .menu-item {
            margin-bottom: 30px;
            padding-left: 20px; }
          .header header .mobile .mobilefixedblock .menu .menu-item:last-of-type {
            margin-bottom: 0; }
    .header .wp_custom .bg {
      top: 86px; }
    .header .wp_custom .fixed {
      top: 46px; }
    .header .header_logo {
      width: 250px;
      font-size: 0;
      line-height: 0;
      padding-top: 10px; }
      .header .header_logo a {
        display: inline-block; }
    .header .navbar {
      display: none; }
    .header .header-content {
      margin-top: 50px;
      max-width: 100%; }
      .header .header-content .section-title {
        margin-top: 20px; }
    .header .top-image {
      position: relative;
      left: 0;
      top: 0;
      margin-top: 20px;
      margin-left: auto;
      max-width: 100%;
      height: 600px; }
    .header .btn-menu {
      display: inline-block;
      margin-left: auto; }

  .solution {
    flex-direction: column; }
    .solution .mbox .header-content .section-title {
      margin-top: 20px;
      margin-bottom: 20px; }
    .solution .top-image {
      margin-top: 0; }

  .works {
    flex-direction: column; }
    .works .mbox .header-content .section-title {
      margin-top: 20px; }
    .works .top-image {
      margin-top: 0; }
      .works .top-image .work {
        left: 50%;
        transform: translateX(-50%); }
      .works .top-image .grafic {
        left: 160px; }
      .works .top-image .work2 {
        left: 440px; }
      .works .top-image .speech {
        right: 330px; }
      .works .top-image .bar {
        right: 170px; }
      .works .top-image .work1 {
        right: 240px; }

  .blog {
    min-height: 50px; }
    .blog .wp_custom .bg {
      top: 46px; }
    .blog .wp_custom .fixed {
      top: 46px; }

  .form {
    padding: 20px 10px; }

  .contact-form {
    box-sizing: border-box;
    padding: 30px 50px;
    width: 100%;
    max-width: 674px;
    height: auto; }
    .contact-form .close {
      width: 25px;
      height: 25px; }
    .contact-form .form-title {
      font-size: 32px; }
    .contact-form form input, .contact-form form textarea, .contact-form form select {
      width: 100%;
      max-width: 100%; }
    .contact-form form label, .contact-form form input, .contact-form form select, .contact-form form textarea, .contact-form form input::placeholder, .contact-form form textarea::placeholder {
      font-size: 15px;
      line-height: 17px; }

  .infosection.col {
    margin-bottom: 20px; }

  .info {
    flex-wrap: wrap; }
    .info_text {
      max-width: 100%;
      margin-bottom: 30px;
      margin-left: 0; }
      .info_text_title {
        margin-top: 0; }
      .info_text_title br {
        display: none; }
      .info_text_title > * {
        font-size: 30px; }
      .info_text_p {
        font-size: 18px;
        line-height: 23px; }
    .info_image {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      margin-bottom: 30px; }

  .reverse .info_image {
    margin-left: auto;
    margin-right: auto; }
  .reverse .info_text {
    margin-left: 0;
    margin-right: 0; }

  .solutioninfo {
    margin-bottom: 50px; }
    .solutioninfo .info_image {
      max-width: 100%; }
    .solutioninfo .info_text {
      max-width: 100%;
      padding: 0 50px;
      margin-top: 30px; }
      .solutioninfo .info_text .text_block {
        margin-bottom: 30px; }

  .emoji .section-title > * {
    font-size: 30px; }
  .emoji .image_emoji img {
    max-width: 80%; }
  .emoji .emoji_image img {
    margin-left: -15px; }
  .emoji .emoji_image .emoji_image_title {
    left: 68px;
    font-size: 22px;
    line-height: 36px; }
  .emoji .emoji_image .emoji_image_text {
    left: 68px;
    font-size: 15px;
    line-height: 17px; }
  .emoji .two {
    margin-top: -70px; }
    .emoji .two .top {
      left: auto;
      right: 18%; }

  .phone .section-title > * {
    font-size: 30px;
    padding-top: 50px; }

  .questions .section-title * {
    font-size: 30px; }
  .questions .questions-list {
    margin-top: 20px; }
    .questions .questions-list .list-item .question h4 {
      font-size: 16px; }
    .questions .questions-list .list-item .answer > * {
      font-size: 15px;
      line-height: 17px; }

  .infoflex {
    padding: 20px 10px; }
    .infoflex .wrapper-block {
      flex-direction: column; }
      .infoflex .wrapper-block .info_block {
        margin-bottom: 20px; }
        .infoflex .wrapper-block .info_block .section-title > * br {
          display: none; }
        .infoflex .wrapper-block .info_block .block_text {
          font-size: 20px;
          line-height: 27px; }

  .single .thumbnail {
    height: auto; }
    .single .thumbnail img {
      max-width: 100%;
      height: auto;
      object-fit: contain; }
  .single .mbox {
    padding: 0 10px; }
    .single .mbox .box .single_content h2, .single .mbox .box .single_content h3, .single .mbox .box .single_content h4 {
      font-size: 27px;
      line-height: 30px; }

  main .section-title > * {
    font-size: 30px; }

  .help {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px; }
    .help_content_title > * {
      font-size: 30px;
      line-height: 35px; }

  .posts .postsblock .row {
    margin-bottom: 0;
    flex-direction: column;
    align-items: space-between; }
    .posts .postsblock .row .post {
      max-width: 450px;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      margin-bottom: 20px; }

  .footer {
    flex-direction: column;
    align-items: flex-start; }
    .footer .footer_logo {
      margin-bottom: 20px; }
    .footer .footer_menu {
      margin-bottom: 20px; }
      .footer .footer_menu .menu {
        justify-content: space-between; }
    .footer .copyright {
      margin-left: 0; } }
@media screen and (max-width: 666px) {
  .header .top-image {
    height: 500px; }

  .single .box .share .buttons a {
    width: 100px;
    height: 38px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px; }
    .single .box .share .buttons a img {
      max-height: 100%;
      width: auto; }

  .emoji .emoji_image .emoji_image_text {
    font-size: 14px;
    line-height: 17px; }
  .emoji .two {
    margin-top: -35px; }
    .emoji .two .top {
      right: 16%; }

  .questions .questions-list .list-item .question {
    padding: 10px; }
    .questions .questions-list .list-item .question h4 {
      font-size: 13px;
      max-width: 88%; }
  .questions .questions-list .list-item .answer {
    padding: 10px; }
  .questions .questions-list .list-item .answer > * {
    font-size: 12px;
    line-height: 14px; }

  .infoflex .wrapper-block .info_block .block_text {
    font-size: 16px;
    line-height: 20px; }

  .form .contact-form .block_website, .form .contact-form .block_platform {
    max-width: 48.6%; }

  .brain {
    padding: 50px 20px;
    box-sizing: border-box;
    margin-bottom: 0; }
    .brain .brain-image {
      height: auto; }
      .brain .brain-image .animate {
        width: 100%;
        position: relative;
        left: auto;
        top: auto;
        text-align: center;
        height: auto; }
        .brain .brain-image .animate .arrow {
          display: none; }
        .brain .brain-image .animate .brain {
          position: relative;
          left: auto;
          top: auto;
          transform: none; }
        .brain .brain-image .animate .lefttoptext, .brain .brain-image .animate .righttoptext, .brain .brain-image .animate .leftbottomtext, .brain .brain-image .animate .rightbottomtext {
          position: relative;
          left: auto;
          top: auto;
          bottom: auto; }
        .brain .brain-image .animate .element {
          max-width: 60%; }
        .brain .brain-image .animate .phone_brain {
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          transform: none;
          max-width: 100%; }
          .brain .brain-image .animate .phone_brain img {
            max-width: 20%; } }
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed; } }
@media screen and (max-width: 480px) {
  main .section-title > * {
    font-size: 20px;
    line-height: 22px; }

  .header header .bg {
    padding: 0 20px; }
  .header .header_logo {
    width: 190px; }
    .header .header_logo.openlogo {
      margin-top: 10px; }
  .header .header-content {
    padding: 0 20px; }
    .header .header-content .section-title {
      margin-top: 10px;
      margin-bottom: 10px; }
    .header .header-content .section-title > * {
      font-size: 22px;
      line-height: 30px; }
    .header .header-content .text {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 10px; }
  .header .top-image {
    min-width: 0;
    width: 100%;
    height: 360px; }

  .blog header .bg {
    padding: 0 10px; }

  .single .box .date_categories {
    margin-top: 10px; }
  .single .box .single_title {
    margin-bottom: 10px; }
  .single .box .single_content {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px; }
    .single .box .single_content img {
      margin-bottom: 20px; }
  .single .box .share {
    flex-direction: column-reverse;
    align-items: flex-start; }
    .single .box .share span:nth-of-type(2) {
      margin-bottom: 10px; }
    .single .box .share .buttons a {
      margin-left: 0;
      margin-right: 30px; }
    .single .box .share .buttons a:last-of-type {
      margin-right: 0; }
    .single .box .share span {
      margin-left: auto;
      margin-right: auto; }

  .brain .brain-image .animate .element {
    max-width: 100%; }
  .brain .brain-image .animate .phone_brain img {
    max-width: 50%; }

  .platform {
    padding-left: 20px;
    padding-right: 20px; }

  .contact-form {
    box-sizing: border-box;
    padding: 20px 20px; }
    .contact-form .close {
      width: 20px;
      height: 20px; }
    .contact-form .form-title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 22px;
      max-width: 94%; }
    .contact-form form input, .contact-form form textarea, .contact-form form select {
      padding: 10px;
      height: auto; }
    .contact-form form textarea {
      height: 100px; }
    .contact-form form label, .contact-form form input, .contact-form form select, .contact-form form textarea, .contact-form form input::placeholder, .contact-form form textarea::placeholder {
      font-size: 14px;
      line-height: 16px; }
    .contact-form form button {
      width: 170px;
      height: 45px;
      font-size: 14px;
      line-height: 16px; }

  .infosection.col {
    padding: 0 20px; }

  .info_text_title > * {
    font-size: 20px;
    line-height: 22px; }
  .info_text_title span {
    box-shadow: 0 -10px 0 0 #f67e90 inset; }
  .info_text_p {
    font-size: 16px;
    line-height: 20px; }
  .info_text_btn {
    width: 285px;
    height: 45px; }
    .info_text_btn a {
      font-size: 14px;
      line-height: 16px; }

  .solutioninfo .info_text {
    padding: 0 20px; }

  .emoji {
    padding: 20px; }
    .emoji .section-title > * {
      font-size: 20px;
      line-height: 22px; }
    .emoji .image_emoji img {
      max-width: 100%; }
    .emoji .emoji_image img {
      margin-left: -5px;
      max-width: 100%; }
    .emoji .emoji_image .emoji_image_title {
      left: 0;
      font-size: 15px;
      line-height: 18px; }
    .emoji .emoji_image .emoji_image_text {
      left: 0;
      font-size: 13px;
      line-height: 15px; }
    .emoji .two .top {
      text-align: right;
      right: 0%;
      left: auto;
      top: 25%; }

  .phone {
    padding: 20px; }
    .phone .section-title > * {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 10px;
      padding-top: 0; }
      .phone .section-title > * br {
        display: none; }

  .btn-question {
    width: 185px;
    height: 50px; }

  .questions {
    padding: 20px; }
    .questions .section-title > * {
      font-size: 20px;
      line-height: 22px; }
    .questions .questions-list .list-item .question {
      padding: 10px; }
      .questions .questions-list .list-item .question h4 {
        font-size: 13px;
        line-height: 15px;
        max-width: 84%; }
    .questions .questions-list .list-item .answer {
      padding: 10px; }
    .questions .questions-list .list-item .answer > * {
      font-size: 12px;
      line-height: 14px; }

  .help {
    padding-top: 20px;
    padding-bottom: 20px; }
    .help_content_title > * {
      font-size: 20px;
      line-height: 22px; }
      .help_content_title > * br {
        display: none; }
    .help_content_btn {
      margin-top: 15px; }

  .posts .headerblock .blog_categories {
    margin-top: 0; }
  .posts .postsblock .row {
    width: 100%; }

  .footer {
    box-sizing: border-box;
    padding: 20px; }
    .footer .footer_menu {
      max-width: 100%; }
      .footer .footer_menu .menu {
        width: 100%;
        flex-direction: column;
        justify-content: space-between; }
      .footer .footer_menu .menu-item {
        margin-bottom: 15px; }
      .footer .footer_menu .menu-item:last-of-type {
        margin-bottom: 0; }

  .footer-blog {
    padding: 10px; } }
@media screen and (max-width: 380px) {
  .form .contact-form form .block_website {
    padding-right: 5px; }
  .form .contact-form form .block_platform {
    padding-left: 5px; } }
@media screen and (max-width: 320px) {
  .emoji .emoji_image img {
    margin-left: -5px; }
  .emoji .emoji_image .emoji_image_text {
    font-size: 11px;
    line-height: 14px;
    bottom: 25%; }
  .emoji .two {
    margin-top: -20px; }
    .emoji .two .top {
      text-align: right;
      max-width: 50%; }
    .emoji .two .emoji_image_text {
      bottom: -2%; } }

/*# sourceMappingURL=style.css.map */
